<html>
    <head>
        <title> HOME DMANTZ </title>
    </head>
</html>
    <body>
        <strong><nav>
        <div style="height: 65px; align-items:center; ">
            <div>
                <h1 style="text-align:left; align-items:center; color: rgb(12, 193, 238); display: flex;flex-direction:row; justify-content:space-between;width: 95%;font-size: 25px; padding: 9px"> 
                    Dmantz Technologies Private Limited 
                    <div style="display: flex;flex-direction:row; justify-content:space-between">
                        <p style="font-size: 20px"><a href="{{ url_for('home') }}" style="margin-right: 20px;">Home</a></p>
                        <p style="font-size: 20px;"><a href="{{ url_for('plot') }}" >Plot</a></p>  
                    </div>
                </h1>
            </div>
            <!-- <p style="font-size: 20px; text-align:center; color: rgb(255, 0, 98);">Expore the software vision</p> -->
                <!-- <ul class="menu"><li style="font-size: 20px;"><a href="{{ url_for('home') }}">Home</a></li>
                                <li style="font-size: 20px;"><a href="{{ url_for('plot') }}">Plot</a></li></ul> -->
        <div>
        </strong></nav>
                {%block content%} 
                {%endblock%}
            </div>        
        </div>
    </body>